<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
</head>
<body>
<div th:fragment="profileMenu">
    <link type="text/css" rel="stylesheet" th:href="@{${#themes.code('theme.css.profileMenu')}}"/>

    <div id="profile-menu">
        <div class="userifno_block panel panel-default">
            <div class="panel-heading">
                <a class="profile-menu-title" th:href="@{/account/{id}(id=${#authentication.id})}">
                    <span sec:authentication="principal.email">username</span>
                </a>
            </div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td>
                            <img class="userAvatar" th:src="@{${#strings.isEmpty(#authentication.principal.avatar) ? '/resources/images/userAvatar.png' : @applicationConfig['user.dir.avatars']+#authentication.principal.avatar }}"/>
                        </td>
                        <td>
                            <ul id="profile-menu-list">
                                <li class="profile-menu-item">
                                    <a href="#">
                                        <img th:src="@{/resources/images/conference.png}" class="profile-menu-icon"/>
                                        <span th:text="#{templates.profile-menu.rooms-count}">MyRoomsCount</span>: <span id="myRoomsCount"></span>
                                    </a>
                                </li>
                                <li class="profile-menu-item">
                                    <a th:href="@{/room/new}">
                                        <img th:src="@{/resources/images/create.png}" class="profile-menu-icon"/>
                                        <span th:text="#{templates.profile-menu.create-room}">Create a new room</span>
                                    </a>
                                </li>
                                <li class="profile-menu-item">
                                    <a th:href="@{/room}">
                                        <img th:src="@{/resources/images/search.png}" class="profile-menu-icon"/>
                                        <span th:text="#{templates.profile-menu.find-rooms}">Find a room</span>
                                    </a>
                                </li>
                                <li class="profile-menu-item">
                                    <a href="#">
                                        <img th:src="@{/resources/images/lecture.png}" class="profile-menu-icon"/>
                                        <span th:text="#{templates.profile-menu.invitations}">Invitations</span>:
                                        <span class="invitations-count"></span>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" id="menu-buttons">
                            <a class="link-button-hover" th:href="@{/account/{id}(id=${#authentication.id})}">
                                <button id="profile-menu-details-btn" class="btn-primary link-button-hover">View
                                    details
                                </button>
                            </a>

                            <a href="#logout" class="link-button-hover" th:href="@{/account/logout}">
                                <button id="profile-menu-logout-btn" class="btn-danger">Logout</button>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/resources/js/profile-menu.js}"></script>
</div>
</body>
</html>