#room-space {
	width: 95%;
	margin: 3% auto;
	padding: 0 3% 10px 3%;
}

#description {
	width: 100%;
	height: 150px;
}

.form-table {
	width: 100%;
}

.form-name-space {
	width: 40%;
}

.form-control-space {
	width: auto;
}

.form-error-space {
	width: auto;
}

.link-current-color {
	color: #918322;
	text-decoration: underline;
}

#sorting-panel {
	width: 100%;
	height: 20px;
	border: 1px solid #ccc;
	margin-bottom: 5px;
	background-color: #ffe682;
	padding: 0 5px;
	color: #032742;
}

#sorting-panel > #sorting {
	width: auto;
	float: left;
}
#sorting-panel > #sorting > a {
	text-decoration: none;
	/*color: #054679;*/
}

#sorting-panel > #paging {
	width: auto;
	float: right;
}

#rooms-list {
	margin-bottom: 15px;
	font-family: sans-serif;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #f5fdc7;
}

.room-item {
	border-top: 1px solid #ccc;
	width: 100%;
}

.room-item-block {
	width: 70%;
	float: left;
	/**border-right: 1px solid #ccc;**/
}

.room-item-info {
	width: 30%;
	float: right;
	text-align: center;
	font-size: large;
}
.room-item-info > .date {
	color: green;
}
.room-item-info > .time {
	color: red;
}

.room-table {
	width: 100%;
}
.room-name {
	text-align: left;
	font-size: large;
	padding-left: 10px;
	color: #1a1d22;
}
.room-image {
	width: 60px;
	padding: 10px;
}
.room-image > img {
	width: 60px;
	height: 60px;
}
.room-description {
	vertical-align: text-top;
	text-align: left;
	font-size: medium;
	color: #2e333c;
}

#pagination {
	text-align: center;
	font-size: large;
}
.pagination-text {
	color: #2e333c;
}
.pagination-text-selected {
	color: yellow;
}

.link-sortorder {
	color: #000000;
}