<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"     
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">

<head>
    <title>Internalized title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/room/room.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/room/details.css}" />
</head>

<body>

<div layout:fragment="content">
	<div id="details" class="panel panel-default" th:object="${room}">
	
		<table class="room-item-block">
			<tr>
				<td class="room-image"><img th:src="@{/resources/images/conference.png}" align="middle" /></td>
				<td><h3 th:text="*{name}">Details page</h3></td>
			</tr>
			<tr>
				<td colspan="2">
					<p th:text="*{description}">description</p>				
				</td>
			</tr>
		</table>
	
		<div class="room-item-info">
				<p class="date" th:text="${{room.startingAt}}">
					25 July, 2014
				</p>
				<p class="time" th:text="${room.startingAt.toLocalTime()}">
					18:00
				</p>
				
				<p sec:authorize="isAuthenticated()" class="join">
					<a id="btnJoinNow" th:unless="${hasInvite}" class="btn btn-lg btn-success" role="button" href="#" th:text="#{room.list.items.join}" th:href="@{/room/join/{id}(id=*{id})}">JOIN NOW</a>
					<a th:if="${hasInvite}" class="btn btn-lg btn-success" role="button" href="#" th:text="#{room.list.items.swithToPlayer}">Switch to player</a>
				</p>
		</div>
		<div class="clear"></div>
	</div>
	
		<div sec:authorize="isAuthenticated()" id="presentation" th:if="${hasInvite}">
			<form name="propertiesForm">
                <table id="propertiesTable">
                    <tr>
                        <th align="left">Color</th>
                        <td>
                            <input type="radio" name="color" value="#FF0000" checked="true" />Red
                        </td>
                        <td>
                            <input type="radio" name="color" value="#0000FF" />Blue
                        </td>
                        <td>
                            <input type="radio" name="color" value="#FF9900" />Orange
                        </td>
                        <td>
                            <input type="radio" name="color" value="#33CC33" />Green
                        </td>
                    </tr>
                 </table>
                 <input type="hidden" name="roomId" th:value="*{id}" />
            </form>
			<canvas id="roomCanvas" width="700" height="500"></canvas>
			<script type="text/javascript" th:src="@{/resources/js/points.js}"></script><!-- in secured section -->
		</div>
		
	<div id="output"></div>
</div><!-- #content  -->



<div id="online-users" layout:fragment="dynamic-fragments-under-rightmenu" class="panel panel-default"> <!--  id="online-users-in-room" -->
	<link type="text/css" rel="stylesheet" th:href="@{/resources/css/room/online-users.css}" />
	<div class="panel-heading">
		<span>
			ONLINE USERS IN THE ROOM
		</span>
		</div>
		<div class="panel-body">
		    <ul class="online-users-row">
		    		<!-- foreach -->
		    		<!-- 
		    		<img class="userAvatar" th:src="@{${#strings.isEmpty(#authentication.principal.avatar) ? '/resources/images/userAvatar.png' : @applicationConfig['user.dir.avatars']+#authentication.principal.avatar }}"/>
		    		 -->
		    	<li class="user-23">
		    		<div class="online-user-info">
		    			<a href="#">
		    				<img class="userAvatar" th:src="@{/resources/images/userAvatar.png}" align="bottom" />
		    				Alexander Kozlov
		    			</a>
		    		</div>
		    	</li>
		    		
		    </ul>
		</div><!-- panel-body -->
</div><!-- online-users -->
</body>
</html>