<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/layout">

<head>
    <title>${user.email}</title>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/account/details.css}"/>
</head>

<body>

<div layout:fragment="content" th:object="${user}">

    <div th:unless="${user}">
        <b th:text="#{label.notice.notfound.user}">Sorry, this user is not found</b>
    </div>

    <div th:if="${user}" th:remove="tag">
        <!--<h2 th:text="#{page.account.details.title(*{email})}">Hello, $username</h2>-->

        <table class="panel panel-default table-user-details">
            <tr>
                <td class="user-param-td avatar-td">
                    <img class="userAvatar" th:src="@{/resources/images/userAvatar.png}"/><br/>
                    <a class="label label-default" href="#">
                        Upload a new
                    </a>
                </td>
                <td>
                    <table class="table table-bordered">
                        <tr>
                            <td th:text="*{email}">Email</td>
                            <td>
                                <img class="rating_image" th:src="@{/resources/images/full_rating.png}"/>
                                <img class="rating_image" th:src="@{/resources/images/full_rating.png}"/>
                                <img class="rating_image" th:src="@{/resources/images/full_rating.png}"/>
                                <img class="rating_image" th:src="@{/resources/images/low_rating.png}"/>
                                <img class="rating_image" th:src="@{/resources/images/low_rating.png}"/>
                            </td>
                        </tr>
                        <tr>
                            <td th:text="#{label.created}">creation date</td>
                            <td th:text="*{createdAt}">created date</td>
                        </tr>
                        <tr>
                            <td th:text="#{label.expires}">expires date</td>
                            <td th:text="*{expiresAt}">expires date</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <div id="user-content">

            <div id="user-additional-info">
                <table>
                    <!--/*-->
                    <tr>
                        <td th:text="#{form.auth.label.is_enabled}">Is Enabled</td>
                        <td>
                            <span th:text="(*{enabled} ? #{form.auth.label.is_enabled.enabled} : #{form.auth.label.is_enabled.disabled})">Yes</span>
                        </td>
                    </tr>
                    <!--*/-->
                    <tr th:if="*{locked}">
                        <td th:text="#{label.notice.locked}"></td>
                        <td th:text="*{lockedReason}"></td>
                    </tr>
                    <!--/*-->
                    <tr>
                        <td>User roles</td>
                        <td>
                            <p th:each="role : ${user.roles}" th:text="${role.authority}">Role name</p>
                        </td>
                    </tr>
                    <!--*/-->
                    <tr>
                        <td colspan="2">
                            <h4>Alexander Kozlov</h4>
                        </td>
                    </tr>
                    <tr>
                        <td class="user-additional-param-td">Skype</td>
                        <td>
                            <img th:src="@{/resources/images/skype.png}"/>
                            alexssource
                        </td>
                    </tr>
                    <tr>
                        <td>Linkedin</td>
                        <td>
                            <img th:src="@{/resources/images/linkedin.png}"/>
                            linkedin.link.com
                        </td>
                    </tr>
                    <tr>
                        <td>Conference activity</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Owned rooms</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>About</td>
                        <td>
                            I am ...
                        </td>
                    </tr>
                </table>
            </div>

            <div id="user-other-info" class="panel panel-default">
                <div class="panel-heading">USER OTHER INFO</div>
                <div class="panel-body">
                    Here I plan to put a last saw conferences
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

</body>
</html>