<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/layout">

<head>
    <title>${user.email}</title>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/account/details.css}"/>
</head>

<body>

<div layout:fragment="content" th:object="${user}">

    <div th:unless="${user}">
        <b th:text="#{label.notice.notfound.user}">Sorry, this user is not found</b>
    </div>

    <div th:if="${user}" th:remove="tag">
        <!--<h2 th:text="#{page.account.details.title(*{email})}">Hello, $username</h2>-->

        <table class="panel panel-default table-user-details">
            <tr>
                <td class="user-param-td avatar-td">
                    <div id="user-name-avatar">
                        <h4>Alexander Kozlov</h4>
                        <img class="userAvatar" th:src="@{/resources/images/userAvatar.png}"/><br/>
                        <a class="label label-default" href="#">
                            Upload a new
                        </a>
                    </div>
                </td>
                <td>
                    <table class="table table-bordered">
                        <tr>
                            <!--<td>-->
                            <!--Stalker-->
                            <!--<span th:text="*{email}">Email</span>-->
                            <!--</td>-->
                            <td colspan="2">
                                <div id="user-social-block">
                                    <div id="is-online-status">
                                        <img class="is-online-icon" th:src="@{/resources/images/online.gif}"/>
                                        <span>Offline</span>
                                    </div>

                                    <div id="user-rating">
                                        <img class="rating_image" th:src="@{/resources/images/full_rating.png}"/>
                                        <img class="rating_image" th:src="@{/resources/images/full_rating.png}"/>
                                        <img class="rating_image" th:src="@{/resources/images/full_rating.png}"/>
                                        <img class="rating_image" th:src="@{/resources/images/low_rating.png}"/>
                                        <img class="rating_image" th:src="@{/resources/images/low_rating.png}"/>
                                    </div>

                                    <div id="user-social-contacts">
                                        <img class="social-contact-image" th:src="@{/resources/images/letter.png}"/>
                                        <img class="social-contact-image" th:src="@{/resources/images/skype.png}"/>
                                        <img class="social-contact-image" th:src="@{/resources/images/linkedin.png}"/>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td th:text="#{label.created}">creation date</td>
                            <td th:text="*{createdAt}">created date</td>
                        </tr>
                        <tr>
                            <td th:text="#{label.expires}">expires date</td>
                            <td th:text="*{expiresAt}">expires date</td>
                        </tr>
                        <tr>
                            <td>ABOOOUT</td>
                            <td>
                                Unquestionably a versatile tool for programmers, you don’t need to be one in order to
                                use Sublime Text, or even to configure it extensively. If you’re a hacker, however, you
                                are in for a great many pleasant surprises: Sublime Text can be infinitely customized
                                and extended. You can start using it efficiently out of the box, but spending some time
                                tailoring it to your exact needs will make it even better.
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <div id="user-content">

            <div id="user-additional-info" class="panel panel-default">
                <div class="panel-heading">Conference activity</div>
                <div class="panel-body">
                    <div class="presentation">
                        <img class="presentation-icon" th:src="@{/resources/images/conference.png}"/>
                        <span>Here I plan to put a last saw conferences</span>
                    </div>
                    <div class="clear"></div>
                    <div class="presentation">
                        <img class="presentation-icon" th:src="@{/resources/images/conference.png}"/>
                        <span>Here I plan to put a last saw conferences</span>
                    </div>
                    <div class="clear"></div>
                    <div class="presentation">
                        <img class="presentation-icon" th:src="@{/resources/images/conference.png}"/>
                        <span>Here I plan to put a last saw conferences</span>
                    </div>
                    <div class="clear"></div>
                    <a href="#" class="btn btn-success additional-info-more-btn">See More</a>
                </div>
            </div>

            <div id="user-other-info" class="panel panel-default">
                <div class="panel-heading">USER OTHER INFO</div>
                <div class="panel-body">
                    <div class="presentation">
                        <img class="presentation-icon" th:src="@{/resources/images/presentation.png}"/>
                        <span>Here I plan to put a last saw conferences</span>
                    </div>
                    <div class="clear"></div>
                    <div class="presentation">
                        <img class="presentation-icon" th:src="@{/resources/images/presentation.png}"/>
                        <span>Here I plan to put a last saw conferences</span>
                    </div>
                    <div class="clear"></div>
                    <a href="#" class="btn btn-success additional-info-more-btn">See More</a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

</body>
</html>