<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/layout-main">

<head>
    <title>#{'label.signin'}</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/account/signin.css}"/>
</head>

<body>

<div layout:fragment="content">
    <div id="error" th:if="${fail}" th:text="#{label.notice.signin.error}"></div>

    <div id="signin" th:include="layouts/templates/signin-form::signin" />
</div>

</body>
</html>