<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="urlBuilder" class="com.daoleen.devicemeeting.web.infrastructure.url.UrlParametersBuilder" scope="prototype">
		<constructor-arg name="controllersPackage" value="com.daoleen.devicemeeting.web.controller.test" />
	</bean>

</beans>
