.table-user-details {
    width: 95%;
    margin: 3% auto;
}

.table-user-details td {
    padding: 1%;
}

.user-param-td {
    vertical-align: top;
    width: 20%;
}

.avatar-td {
    text-align: center;
}

#is-online-status {
    width: 15%;
    margin-top: 5px;
    float: left;
}

#user-rating {
    width: 40%;
    float: left;
}

#user-social-contacts {
    width: auto;
    float: right;
}

.is-online-icon {
    width: 12px;
    height: 12px;
}

.social-contact-image {
    width: 32px;
    height: 32px;
}

#user-content {
    width: 95%;
    margin: 3% auto;
}

.user-additional-param-td {
    width: 55%;
}

#user-additional-info {
    width: 47%;
    float: left;
}

#user-other-info {
    width: 47%;
    float: right;
}

.additional-info-more-btn {
    margin-top: 10px;
}

.presentation {
    margin-top: 5px;
}

.presentation a {
	color: #437b43;
}

.presentation-icon {
    width: 48px;
    height: 48px;
    margin-right: 3px;
    float: left;
}