#signupForm {
    width: 50%;
    margin: 5% auto;
    padding: 3%;
    border: 1px solid #cccccc;
}

#signupForm h2 {
    margin: 0 35%;
    margin-bottom: 5%;
}

.formInput > td {
    padding: 3% 10px;
}

.formInput .lbl {
    width: 40%;
}

#btnSignup {
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 0;
}