<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content="Alex Kozlov"/>
    <!--<link rel="shortcut icon" href="../../assets/ico/favicon.ico" />-->

    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">DeviceMeeting</title>

    <!-- Bootstrap core CSS -->
    <link href="../../resources/css/bootstrap.css" th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"
          type="text/css"/>

    <!-- Custom styles for this template -->
    <link href="../../resources/themes/standard/css/layout.css" th:href="${#themes.code('theme.css.layout')}"
          rel="stylesheet" type="text/css"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div class="container">

    <div class="masthead">
        <h3 class="text-muted">DeviceMeeting</h3>
        <div th:replace="layouts/templates/navigation::navigation" />
    </div>

    <div id="content" layout:fragment="content">
        <!-- content -->
    </div>

    <!-- Right side menu -->
    <div th:replace="layouts/templates/right-side-menu::rightmenu" />

    <div class="clear"></div>

    <!-- Site footer -->
    <div th:replace="layouts/templates/footer::footer" />

</div><!-- /container -->


</body>
</html>